In [1]:
import pandas as pd
import os

In [2]:
news_data = pd.read_csv('../../data/news_data1.csv')
stock_data = pd.read_csv('../../data/stock_data/AAPL_stock_data.csv')

In [9]:
# print(stock_data.Date)
# Assuming 'publishedAt' is a column in your 'news_data' DataFrame
news_data['publishedAt'] = news_data['publishedAt'].str.split('T').str[0]
news_data.shape
news_data.publishedAt

# news_data

0      2023-10-30
1      2023-10-30
2      2023-10-30
3      2023-10-30
4      2023-10-30
          ...
443    2023-10-06
444    2023-10-06
445    2023-10-06
446    2023-10-06
447    2023-10-06
Name: publishedAt, Length: 448, dtype: object

(400, 14)

In [13]:
# Group news_data by the 'Date' column
# grouped_news = news_data.groupby('publishedAt')

In [15]:
grouped_news.head()

,source,author,title,description,url,urlToImage,publishedAt,content
0,"{'id': None, 'name': 'Biztoc.com'}",benzinga.com,"Some Chinese Abandoning Apple, Stock Buying On...","To gain an edge, this is what you need to know...",https://biztoc.com/x/d9a3355a2a89ff80,https://c.biztoc.com/p/d9a3355a2a89ff80/s.webp,2023-10-30,"To gain an edge, this is what you need to know..."
1,"{'id': None, 'name': 'MarketWatch'}",MarketWatch Automation,Company Close Updates: Snap Inc. stock outperf...,Shares of Snap Inc. rose 4.30% to $9.70 Monday...,https://www.marketwatch.com/data-news/snap-inc...,https://images.mktw.net/im-220105/social,2023-10-30,"Shares of Snap Inc. \r\n SNAP,\r\n +4.30%\r\nr..."
2,"{'id': None, 'name': 'MarketWatch'}",Associated Press,"Associated Press: Meta rolls out paid, ad-free...",Facebook and Instagram users in Europe are get...,https://www.marketwatch.com/story/meta-rolls-o...,https://images.mktw.net/im-245995/social,2023-10-30,LONDON Facebook and Instagram users in Europe ...
3,"{'id': None, 'name': 'Macdailynews.com'}",MacDailyNews,MacDailyNews presents live coverage of Apple’s...,Apple CEO Tim Cook and a team of Apple execs w...,https://macdailynews.com/2023/10/30/macdailyne...,https://149359564.v2.pressablecdn.com/wp-conte...,2023-10-30,Apple CEO Tim Cook and a team of Apple executi...
4,"{'id': None, 'name': 'AppleInsider'}",news@appleinsider.com (Malcolm Owen),What to expect from Apple's Q4 2023 earnings r...,Apple's fourth fiscal quarter results will be ...,https://appleinsider.com/articles/23/10/30/wha...,https://photos5.appleinsider.com/gallery/56908...,2023-10-30,Apple CEO Tim Cook\r\nApple's fourth fiscal qu...
...,...,...,...,...,...,...,...,...
431,"{'id': None, 'name': 'Biztoc.com'}",benzinga.com,AI Advancements in Google's Pixel 8 Is A Catal...,Citi analyst Atif Malik flagged Alphabet Inc G...,https://biztoc.com/x/a0b44d6ca09b81a2,https://c.biztoc.com/p/a0b44d6ca09b81a2/s.webp,2023-10-06,Citi analyst Atif Malik flagged Alphabet Inc G...
432,"{'id': None, 'name': 'Investopedia'}",Kevin George,TSMC September Revenue Declined Less Than Expe...,Taiwan Semiconductor posted September revenue ...,https://www.investopedia.com/tsmc-september-re...,https://www.investopedia.com/thmb/5AkA1DZ2LVwt...,2023-10-06,<ul><li>Taiwan Semiconductor Manufacturing Co....
433,"{'id': None, 'name': 'Biztoc.com'}",abnormalreturns.com,Friday links: foolishly reckless,"Strategy Defining what you will invest in, ver...",https://biztoc.com/x/a35fbf20328f331e,https://c.biztoc.com/253/og.png,2023-10-06,"StrategyDefining what you will invest in, vers..."
434,"{'id': None, 'name': 'U.Today'}",U.Today,Robert Kiyosaki Names Profitable Asset That Ma...,Don't miss anything in the fast-changing world...,https://u.today/robert-kiyosaki-names-profitab...,https://u.today/sites/default/files/styles/twi...,2023-10-06,U.Today has prepared summaries of the top thre...
435,"{'id': None, 'name': 'Biztoc.com'}",benzinga.com,"Market Clubhouse Morning Memo - October 6th, 2...",Good Morning Traders! In today's Market Clubho...,https://biztoc.com/x/5366d969d4a5fc50,https://c.biztoc.com/p/5366d969d4a5fc50/s.webp,2023-10-06,Good Morning Traders! In today's Market Clubho...

In [17]:
# Group news_data by the 'Date' column
grouped_news = news_data.groupby('publishedAt')

# Define a custom function to concatenate articles with line breaks
def join_articles(group):
    return '\n'.join(group)

# Apply the custom function to the 'Article' column of each group
aggregated_articles = grouped_news['content'].apply(join_articles)

# Reset the index to create the 'aggregated_articles' DataFrame
aggregated_articles = aggregated_articles.reset_index()

In [19]:
aggregated_articles.shape
aggregated_articles.head()

  publishedAt                                            content
0  1970-01-01                                          [Removed]
1  2023-10-06  Citi analyst Atif Malik flagged Alphabet Inc G...
2  2023-10-07  Side view of chubby man looking broken while l...
3  2023-10-08  iMacStudio DisplayUSB-ANVMe SSDUSBPulwtop USB-...
4  2023-10-09  After two years of steady, agonizing declines,...

In [20]:
'''merging dataframes'''

# Assuming you have already loaded your stock_data and news_data DataFrames

# Merge the DataFrames based on the 'Date' and 'publishedAt' columns
merged_data = stock_data.merge(aggregated_articles, left_on='Date', right_on='publishedAt', how='inner')

# 'inner' will keep only the rows where there are matching values in both DataFrames

# You may want to drop one of the duplicate columns ('Date' or 'publishedAt') depending on your needs
merged_data = merged_data.drop(columns=['publishedAt'])

# Now, merged_data contains the combined data with columns from both DataFrames

In [22]:
merged_data.head()
# merged_data

,Date,Open,High,Low,Close,Adj Close,Volume,content
0,2023-10-06,173.800003,177.990005,173.179993,177.490005,177.490005,57224100,Citi analyst Atif Malik flagged Alphabet Inc G...
1,2023-10-09,176.809998,179.050003,175.800003,178.990005,178.990005,42390800,"After two years of steady, agonizing declines,..."
2,2023-10-10,178.100006,179.720001,177.949997,178.389999,178.389999,43698000,Yale Universitys endowment notched a 1.8% retu...
3,2023-10-11,178.199997,179.850006,177.600006,179.800003,179.800003,47551100,macOS 14 SonomaiOS 17macOS 12 MontereymacOS 13...
4,2023-10-12,180.070007,182.339996,179.039993,180.710007,180.710007,56743100,Dow Jones futures were little changed after ho...

In [24]:
import pandas as pd
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

# Function to get sentiment scores
def sentiment_vader(text):
    # Initialize the VADER sentiment analyzer    
    sentiment = analyzer.polarity_scores(text)
    return sentiment['compound']  # We use the compound score as a single sentiment score

analyzer = SentimentIntensityAnalyzer()
# Apply the sentiment analysis to the 'Content' field and add the scores to a new column 'Sentiment'
merged_data['Sentiment1'] = merged_data['content'].apply(sentiment_vader)

print(merged_data)

          Date        Open        High         Low       Close   Adj Close  \
0   2023-10-06  173.800003  177.990005  173.179993  177.490005  177.490005
1   2023-10-09  176.809998  179.050003  175.800003  178.990005  178.990005
2   2023-10-10  178.100006  179.720001  177.949997  178.389999  178.389999
3   2023-10-11  178.199997  179.850006  177.600006  179.800003  179.800003
4   2023-10-12  180.070007  182.339996  179.039993  180.710007  180.710007
5   2023-10-13  181.419998  181.929993  178.139999  178.850006  178.850006
6   2023-10-16  176.750000  179.080002  176.509995  178.720001  178.720001
7   2023-10-17  176.649994  178.419998  174.800003  177.149994  177.149994
8   2023-10-18  175.580002  177.580002  175.110001  175.839996  175.839996
9   2023-10-19  176.039993  177.839996  175.190002  175.460007  175.460007
10  2023-10-20  175.309998  175.419998  172.639999  172.880005  172.880005
11  2023-10-23  170.910004  174.009995  169.929993  173.000000  173.000000
12  2023-10-24  173.050003  173.669998  171.449997  173.440002  173.440002
13  2023-10-25  171.880005  173.059998  170.649994  171.100006  171.100006
14  2023-10-26  170.369995  171.380005  165.669998  166.889999  166.889999
15  2023-10-27  166.910004  168.960007  166.830002  168.220001  168.220001
16  2023-10-30  169.020004  171.169998  168.869995  170.289993  170.289993

      Volume                                            content  Sentiment1
0   57224100  Citi analyst Atif Malik flagged Alphabet Inc G...      0.9480
1   42390800  After two years of steady, agonizing declines,...     -0.2204
2   43698000  Yale Universitys endowment notched a 1.8% retu...      0.9768
3   47551100  macOS 14 SonomaiOS 17macOS 12 MontereymacOS 13...      0.9854
4   56743100  Dow Jones futures were little changed after ho...      0.9934
5   51427100  AppleMagic KeyboardMagic TrackpadMacBookThe Pr...      0.9951
6   52517000  Demand for Apples new iPhone 15 lineup is weak...      0.9938
7   57549400  Nearly a year ago, OpenAI released ChatGPT 3 i...      0.9906
8   54764400  TORONTO, Oct. 18, 2023 (GLOBE NEWSWIRE) -- Pur...      0.9832
9   59302900  That makes three in a row.Tesla\r\n (ticker: T...      0.7783
10  64189300  Apple\r\n (ticker: AAPL) stock finished 1.5% l...      0.9081
11  55980100  Apples (NASDAQ:AAPL) iPhone 15 demand is showi...      0.9587
12  43816600  SatechiiPhoneiPadUSB-CApple WatchAirPodsDual S...      0.9904
13  57157000  ApplemacOS 12.7.1 MontereymacOS 13.6.1 Ventura...      0.9851
14  70625300  The Dow Jones Industrial Average dived as so-c...      0.9866
15  58499100  <ul><li>The Dow, S&amp;P 500, and Nasdaq Compo...      0.3301
16  51131000  To gain an edge, this is what you need to know...      0.9968

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\pande\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [25]:
# Function to get sentiment scores
from textblob import TextBlob

def sentiment_textblob(text):
    analysis = TextBlob(text)
    sentiment_score = analysis.sentiment.polarity  # Polarity ranges from -1 (negative) to 1 (positive)
    return sentiment_score

# Apply the sentiment analysis to the 'Content' field and add the scores to a new column 'Sentiment'
merged_data['Sentiment2'] = merged_data['content'].apply(sentiment_textblob)

print(merged_data)

          Date        Open        High         Low       Close   Adj Close  \
0   2023-10-06  173.800003  177.990005  173.179993  177.490005  177.490005
1   2023-10-09  176.809998  179.050003  175.800003  178.990005  178.990005
2   2023-10-10  178.100006  179.720001  177.949997  178.389999  178.389999
3   2023-10-11  178.199997  179.850006  177.600006  179.800003  179.800003
4   2023-10-12  180.070007  182.339996  179.039993  180.710007  180.710007
5   2023-10-13  181.419998  181.929993  178.139999  178.850006  178.850006
6   2023-10-16  176.750000  179.080002  176.509995  178.720001  178.720001
7   2023-10-17  176.649994  178.419998  174.800003  177.149994  177.149994
8   2023-10-18  175.580002  177.580002  175.110001  175.839996  175.839996
9   2023-10-19  176.039993  177.839996  175.190002  175.460007  175.460007
10  2023-10-20  175.309998  175.419998  172.639999  172.880005  172.880005
11  2023-10-23  170.910004  174.009995  169.929993  173.000000  173.000000
12  2023-10-24  173.050003  173.669998  171.449997  173.440002  173.440002
13  2023-10-25  171.880005  173.059998  170.649994  171.100006  171.100006
14  2023-10-26  170.369995  171.380005  165.669998  166.889999  166.889999
15  2023-10-27  166.910004  168.960007  166.830002  168.220001  168.220001
16  2023-10-30  169.020004  171.169998  168.869995  170.289993  170.289993

      Volume                                            content  Sentiment1  \
0   57224100  Citi analyst Atif Malik flagged Alphabet Inc G...      0.9480
1   42390800  After two years of steady, agonizing declines,...     -0.2204
2   43698000  Yale Universitys endowment notched a 1.8% retu...      0.9768
3   47551100  macOS 14 SonomaiOS 17macOS 12 MontereymacOS 13...      0.9854
4   56743100  Dow Jones futures were little changed after ho...      0.9934
5   51427100  AppleMagic KeyboardMagic TrackpadMacBookThe Pr...      0.9951
6   52517000  Demand for Apples new iPhone 15 lineup is weak...      0.9938
7   57549400  Nearly a year ago, OpenAI released ChatGPT 3 i...      0.9906
8   54764400  TORONTO, Oct. 18, 2023 (GLOBE NEWSWIRE) -- Pur...      0.9832
9   59302900  That makes three in a row.Tesla\r\n (ticker: T...      0.7783
10  64189300  Apple\r\n (ticker: AAPL) stock finished 1.5% l...      0.9081
11  55980100  Apples (NASDAQ:AAPL) iPhone 15 demand is showi...      0.9587
12  43816600  SatechiiPhoneiPadUSB-CApple WatchAirPodsDual S...      0.9904
13  57157000  ApplemacOS 12.7.1 MontereymacOS 13.6.1 Ventura...      0.9851
14  70625300  The Dow Jones Industrial Average dived as so-c...      0.9866
15  58499100  <ul><li>The Dow, S&amp;P 500, and Nasdaq Compo...      0.3301
16  51131000  To gain an edge, this is what you need to know...      0.9968

    Sentiment2
0     0.096352
1     0.071875
2     0.170134
3     0.143628
4     0.106639
5     0.191364
6     0.175429
7     0.073688
8     0.086622
9     0.075065
10    0.040214
11    0.054783
12    0.111456
13    0.063046
14    0.070129
15    0.156596
16    0.184277

In [27]:
merged_data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'content', 'Sentiment1', 'Sentiment2'],
      dtype='object')

In [28]:
merged_data.to_csv('../../data/merged_data_full.csv', index=False)  # Use your desired file path

In [29]:
columns_to_drop = ['Date', 'content']
merged_data = merged_data.drop(columns=columns_to_drop)

In [30]:
merged_data.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Sentiment1',
       'Sentiment2'],
      dtype='object')

In [34]:
merged_data.shape

(17, 8)

In [35]:
merged_data.head()

,Open,High,Low,Close,Adj Close,Volume,Sentiment1,Sentiment2
0,173.800003,177.990005,173.179993,177.490005,177.490005,57224100,0.9480,0.096352
1,176.809998,179.050003,175.800003,178.990005,178.990005,42390800,-0.2204,0.071875
2,178.100006,179.720001,177.949997,178.389999,178.389999,43698000,0.9768,0.170134
3,178.199997,179.850006,177.600006,179.800003,179.800003,47551100,0.9854,0.143628
4,180.070007,182.339996,179.039993,180.710007,180.710007,56743100,0.9934,0.106639

In [31]:
merged_data.to_csv('../../data/merged_data_truncated.csv', index=False)  # Use your desired file path